/* colocar css em um arquivo externo, é como o nome diz, mudança de estilo externo */
h2 {
    color: blue;
}

#listaDeIngredientes {
    color: orange;
}

.orange {
    color: green;
}

a {
    text-decoration: none;
}

section > p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

img {
    width: 30%;
}

ul {
    list-style-type: square;
}

#preparo {
    border-style: dashed;
    border-color: green;
    border-width: 1px;
    padding: 12px;
    margin: 1.45%;
}

h1 {
    color: rgb(0, 0, 255);
    background-color: yellow;
    text-align: center;
    text-decoration: underline;
}
.intel-one-mono-fonte-diferente {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

